@use '../../colors.scss' as c;

.notification-popup-window {
  margin: 1rem;
}

.notification-popup {
  margin-top: 0.5rem;
  min-width: 25rem;
  background-color: c.$bg;
  padding: 1rem;
  border-radius: 2rem;

  & .notification-close {
    background-color: c.$accent;
    border-radius: 0.8rem;
    color: c.$bg;
  }

  & .notification-action {
    background-color: c.$accent;
    border-radius: 0.5rem;
    color: c.$bg;
  }

  & .notification-close:hover {
    background-color: c.$accent-dark;
    color: c.$fg;
  }

  & .notification-action:hover {
    background-color: c.$accent-dark;
    color: c.$fg;
  }
}
