@use '../../colors.scss' as c;


.osd-block {
  opacity: 0;
  transform: translateY(4rem);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.osd-block.visible {
  opacity: 1;
  transform: translateY(0);
}

.osd-block.hidden {
  opacity: 0;
  transform: translateY(4rem);
}

.osd-left-corner,
.osd-right-corner {
  color: c.$bg;
}

.osd-container {
  background-color: c.$bg;
  color: c.$fg;
  padding: 1rem 2rem;
  border-radius: 1rem 1rem 0 0;
}

.volume-icon {
  color: c.$accent;
}

.brightness-icon {
  color: c.$accent;
}

.volume-bar,
.brightness-bar {
  min-width: 200px;
  border-radius: 10px;
}

scale trough {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-height: 8px;
}

scale highlight {
  background-color: c.$accent;
  border-radius: 10px;
}
