.lockscreen-window {
  /* background-color: c.$bg; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  transition: opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.lockscreen-bg,
.lockscreen-bg-root {
  transition: opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.lockscreen-bg {
  filter: blur(3px);
}


.lockscreen-label {
  color: #f0dedf;
  font-size: 1.5rem;
  font-weight: bold;
}

.lockscreen-entry {
  border-radius: 3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #f0dedf;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 4rem;
  min-width: 300px;
}

.lockscreen-entry-box {
  background-color: c.$bg;
  padding: 0.7rem 1rem;
  border-radius: 4rem 4rem 0 0;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(120px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(120px);
  }
}

.lockscreen-left-entry-corner,
.lockscreen-right-entry-corner {
  color: c.$bg;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(70px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(70px);
  }
}

.lockscreen-entry-container {}
