@use '../../colors.scss' as c;

.osd-left-corner,
.osd-right-corner {
  color: c.$bg;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(-70px);
}

.osd-left-corner.visible,
.osd-right-corner.visible {
  transform: translateX(0);
}

.osd-left-corner.hidden,
.osd-right-corner.hidden {
  transform: translateX(-70px);
}

.osd-container {
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  background-color: c.$bg;
  color: c.$fg;
  padding: 2rem 1rem;
  border-radius: 0 2rem 2rem 0;
  transform: translateX(-70px);
}

.osd-container.visible {
  transform: translateX(0);
}

.osd-container.hidden {
  transform: translateX(-70px);
}

.volume-icon {
  color: c.$accent;
}

.brightness-icon {
  color: c.$accent;
}

.volume-bar,
.brightness-bar {
  min-height: 200px;
  border-radius: 10px;
  transform: rotate(180deg);
}

scale trough {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-width: 8px;
}

scale highlight {
  background-color: c.$accent;
  border-radius: 10px;
}
