.osd-left-corner,
.osd-right-corner {
  color: c.$bg;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(-70px);
}

.osd-left-corner.visible,
.osd-right-corner.visible {
  transform: translateX(0);
}

.osd-left-corner.hidden,
.osd-right-corner.hidden {
  transform: translateX(-70px);
}

.osd-trigger {
  background-color: rgba(0, 0, 0, 0.01);
}

.osd-container {
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  background-color: c.$bg;
  color: c.$fg;
  padding: 2rem 1rem;
  border-radius: 0 2rem 2rem 0;
  transform: translateX(-70px);
}

.osd-container.visible {
  transform: translateX(0);
}

.osd-container.hidden {
  transform: translateX(-70px);
}

.volume-icon {
  color: c.$accent;
}

.brightness-icon {
  color: c.$accent;
}

.volume-bar,
.brightness-bar {
  min-height: 200px;
  border-radius: 10px;
  transform: rotate(180deg);
}

.brightness-bar trough,
.volume-bar trough {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-width: 8px;
}

.brightness-bar highlight,
.volume-bar highlight {
  background-color: c.$accent;
  border-radius: 10px;
}

.brightness-bar slider,
.volume-bar slider {
  background-color: c.$accent;
  border: 2px solid white;
  border-radius: 50%;
  min-width: 8px;
  min-height: 8px;
  margin-top: -2px;
  margin-bottom: -2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.brightness-bar slider:hover,
.volume-bar slider:hover {
  background-color: lighten(c.$accent, 5%);
  transform: scale(1.1);
}
