@import "./internal.scss";

.settings {
  background-color: c.$bg;
  color: c.$fg;
  border-radius: 0.7rem;
  transition: 0.2s;
}

.settings-sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 300px;
}

.settings-sidebar-user {
  margin: 2rem 1rem 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.settings-sidebar-user-name {
  font-size: 1.5rem;
}

.settings-sidebar-user-info {
  margin-top: 0.6rem;
}

.settings-sidebar-user-os {
  font-size: 0.9rem;
}

.settings-sidebar-user-uptime {
  font-size: 0.9rem;
}

.settings-sidebar-user-avatar-image {
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.settings-sidebar-label {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.settings-sidebar-entry {
  all: unset;
  /* background-color: c.$bg-light; */
  padding: 1rem 2rem;
  padding-left: 0.75rem;
  font-size: 1.2rem;
  transition:  0.2s;
  border-radius: 1rem;
  margin-left: 0.5rem;

  &:hover {
    margin: 0.3rem 0.5rem 0.3rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &:selected {
    margin: 0.3rem 0.5rem 0.3rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
