.wallpaper {
  opacity: 0;
  transition: opacity 0.4s ease;
 /* transition: opacity 0.6s ease-in-out; */
}

.wallpaper.visible {
  opacity: 1;
}

.wallpaper-container {
  transition: background-color 0.2s ease;
}
