.notification-right-corner,
.notification-left-corner {
  color: c.$bg;
  transform: translateY(70px);
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition-delay: 0s;
}

.notification-right-corner.visible,
.notification-left-corner.visible {
  transform: translateY(0);
  transition-delay: 0s;
}

.notification-right-corner.hidden,
.notification-left-corner.hidden {
  transform: translateY(70px);
}

.notification-center-window {
  transform: translateY(400px);
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.notification-center-window.visible {
  transform: translateY(0);
}

.notification-center-window.hidden {
  transform: translateY(400px);
}

.notification-center-window {
  min-width: 600px;
  background-color: c.$bg;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
}

.notification-center-header {
  margin-bottom: 1rem;
}

.notification {
  background-color: c.$bg-lighter;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.notification-count {
  background-color: c.$bg-lighter;
  color: c.$fg;
  min-width: 2rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 0 0.1rem;
}

.notification-header-label {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.notification-close {
  color: c.$fg;
  border-radius: 1rem;
  padding: 0.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.notification-close:hover {
  background-color: c.$accent;
  color: c.$fg;
}

.notification-clear-all {
  transition: 0.3s;
  border-radius: 1rem;
  padding: 0.25rem 1rem 0.25rem 0.9rem;
  font-size: 2rem;
  background-color: c.$bg-lighter;
  color: c.$fg;
}

.notification-clear-all:hover {
  background-color: c.$accent;
  color: c.$bg;
}

.notification-dnd {
  transition: 0.3s;
  border-radius: 1rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  font-size: 1.5rem;
  background-color: c.$bg-lighter;
  color: c.$fg;
}

.notification-dnd:hover {
  background-color: c.$accent;
  color: c.$bg;
}

.notification-dnd.active {
  background-color: c.$accent;
  color: c.$bg;
}

.notification-action {
  background-color: c.$accent;
  color: c.$bg;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem;
  transition: 0.3s;
}

.notification-action:hover {
  background-color: c.$accent-dark;
  color: c.$fg;
}

.notification-screenshot-label {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.notification-center-info-label {
  color: c.$fg;
}

.notification-body {
  color: c.$fg;
}
