.powermenu-box {
  padding: 1rem;
  background-color: c.$bg;
  color: c.$fg;
  border-radius: 2rem 0 0 2rem;
  transform: translateX(85px);
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.powermenu-box.visible {
  transform: translateX(0);
}

.powermenu-box.hidden {
  transform: translateX(85px);
}


.powermenu-top-corner,
.powermenu-bottom-corner {
  color: c.$bg;
  transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateX(85px);
}

.powermenu-top-corner.visible,
.powermenu-bottom-corner.visible {
  transform: translateX(0);
}

.powermenu-top-corner.hidden,
.powermenu-bottom-corner.hidden {
  transform: translateX(85px);
}

.powermenu-actions {
  background-color: c.$bg-light;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
  color: c.$accent;
  font-size: 2.5rem;
}

.powermenu-action {
  padding: 0.6rem;
  border-radius: 1rem;
}

.powermenu-action:nth-child(1) {
  padding-right: 1.1rem;
}

.powermenu-action:nth-child(2) {
  padding-left: 0.7rem;
}

.powermenu-action:nth-child(3) {
  padding-left: 0.8rem;
}

.powermenu-action:nth-child(4) {
  padding-right: 1.1rem;
}

.powermenu-action:nth-child(5) {
  padding-left: 0.85rem;
}

.powermenu-action:hover {
  /* background-color: c.$bg-lighter; */
  background-color: lighten(c.$bg-light, 5%);
}

.powermenu-action:focus {
  /* background-color: c.$bg-lighter; */
  background-color: lighten(c.$bg-light, 5%);
}


.powermenu-trigger {
  background-color: rgba(0, 0, 0, 0.01);
}
