.lockscreen-window {
  /* background-color: c.$bg; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(255, 255, 255, 0.1);
  transition: opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.lockscreen-bg,
.lockscreen-bg-root {
  transition: opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}

.lockscreen-bg {
  filter: blur(3px);
}

.lockscreen-lock-logo {
  padding: 2rem;
  background-color: c.$bg;
  border-radius: 4.5rem;
}


.lockscreen-label {
  color: #f0dedf;
  font-size: 1.5rem;
  font-weight: bold;
}

.lockscreen-entry {
  border-radius: 3rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #f0dedf;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 3rem;
  min-width: 300px;
}

.lockscreen-entry-box {
  background-color: c.$bg;
  padding: 0.7rem 1rem;
  border-radius: 4rem 4rem 0 0;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(100px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(100px);
  }
}

.lockscreen-left-entry-corner,
.lockscreen-right-entry-corner {
  color: c.$bg;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(80px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(80px);
  }
}

.lockscreen-audio-visualizer-left,
.lockscreen-audio-visualizer-right {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.22, 1, 0.36, 1);

  &.visible {
    opacity: 1;
    transition-delay: 1.5s;
  }

  &.hidden {
    opacity: 0;
  }
}

.lockscreen-entry-container {}


.lockscreen-top-bar-center,
.lockscreen-top-bar-right,
.lockscreen-top-bar-left {
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transition-delay: 0.35s;
  transform: translateY(-60px);
  background-color: c.$bg;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-60px);
  }
}


.lockscreen-top-bar-center {
  border-radius: 0 0 3rem 3rem;
  padding: 1rem 3rem;
}

.lockscreen-top-bar-right {
  border-radius: 0 0 0 3rem;
  padding: 1rem 2rem;
}
.lockscreen-top-bar-left {
  border-radius: 0 0 3rem;
  padding: 1rem 2rem;
}

.lockscreen-top-bar-right-center-corner,
.lockscreen-top-bar-left-center-corner,
.lockscreen-top-bar-left-right-corner,
.lockscreen-top-bar-right-left-corner {
  transition-duration: 0.35s;
  color: c.$bg;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(-40px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-40px);
  }
}

.lockscreen-top-bar-avatar {
  border-radius: 50%;
}

.lockscreen-top-bar-avatar-image {
  border-radius: 50%;
}

.lockscreen-top-bar-keyboard-layout,
.lockscreen-top-bar-clock label,
.lockscreen-top-bar-battery label {
  color: c.$fg;
  font-size: 2rem;
  font-weight: bold;
}
