$background: #181213;
$onBackground: #EDDFE1;
$surface: #181213;
$surfaceDim: #181213;
$surfaceBright: #3F3739;
$surfaceContainerLowest: #130D0E;
$surfaceContainerLow: #211A1B;
$surfaceContainer: #251E1F;
$surfaceContainerHigh: #30282A;
$surfaceContainerHighest: #3B3334;
$onSurface: #EDDFE1;
$surfaceVariant: #524346;
$onSurfaceVariant: #D7C1C5;
$inverseSurface: #EDDFE1;
$inverseOnSurface: #362E30;
$outline: #9F8C90;
$outlineVariant: #524346;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB1C7;
$primary: #FFB1C7;
$onPrimary: #571A31;
$primaryContainer: #AB5F77;
$onPrimaryContainer: #FFFFFF;
$inversePrimary: #8F485F;
$secondary: #E8BBC6;
$onSecondary: #452831;
$secondaryContainer: #5E3D47;
$onSecondaryContainer: #D6AAB5;
$tertiary: #FFB77D;
$onTertiary: #4D2600;
$tertiaryContainer: #C68144;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD9E2;
$primaryFixedDim: #FFB1C7;
$onPrimaryFixed: #3C041C;
$onPrimaryFixedVariant: #723147;
$secondaryFixed: #FFD9E2;
$secondaryFixedDim: #E8BBC6;
$onSecondaryFixed: #2E131C;
$onSecondaryFixedVariant: #5E3D47;
$tertiaryFixed: #FFDCC3;
$tertiaryFixedDim: #FFB77D;
$onTertiaryFixed: #2F1500;
$onTertiaryFixedVariant: #6E3900;
