@use './colors.scss' as c;
@use './palettes.scss' as p;

@import './_modules/_bar.scss';
@import './_modules/_tray.scss';
@import './_modules/_settings.scss';
@import './_modules/_cava_tui.scss';
@import './_modules/_launcher.scss';
@import './_modules/_osd.scss';
@import './_modules/_notification_popup.scss';
@import './_modules/_control_center.scss';

* {
  all: unset;
  font-family: JetBrainsMono;
  font-weight: bold;
  transition: all 0.2s ease;
}

.icon {
  font-family: "Material Symbols Rounded", "Material Icons Rounded";

  &.xs {
    font-size: 0.8rem;
  }

  &.s {
    font-size: 1rem;
  }

  &.m {
    font-size: 1.5rem;
  }

  &.l {
    font-size: 2rem;
  }

  &.xl {
    font-size: 2.5rem;
  }

  &.xxl {
    font-size: 3rem;
  }
}
