@use './colors.scss' as c;

@import './_modules/_bar.scss';
@import './_modules/_tray.scss';
@import './_modules/_cava_tui.scss';
@import './_modules/_launcher.scss';
@import './_modules/_osd.scss';
@import './_modules/_notification_popup.scss';
@import './_modules/_control_center.scss';

* {
  all: unset;
  font-family: JetBrainsMono;
  font-weight: bold;
  transition: background-color 0.1s ease, opacity 0.25s ease, transform 0.25s ease;
}
