/* content */
$palette_content_background: #101412;
$palette_content_error: #ffb4ab;
$palette_content_error_container: #93000a;
$palette_content_inverse_on_surface: #2d312f;
$palette_content_inverse_primary: #216a53;
$palette_content_inverse_surface: #e0e3e0;
$palette_content_on_background: #e0e3e0;
$palette_content_on_error: #690005;
$palette_content_on_error_container: #ffdad6;
$palette_content_on_primary: #003829;
$palette_content_on_primary_container: #b0f8da;
$palette_content_on_primary_fixed: #002116;
$palette_content_on_primary_fixed_variant: #00513c;
$palette_content_on_secondary: #1c352c;
$palette_content_on_secondary_container: #cae7d8;
$palette_content_on_secondary_fixed: #062017;
$palette_content_on_secondary_fixed_variant: #334c41;
$palette_content_on_surface: #e0e3e0;
$palette_content_on_surface_variant: #bfc9c2;
$palette_content_on_tertiary: #31295c;
$palette_content_on_tertiary_container: #ece6ff;
$palette_content_on_tertiary_fixed: #1c1246;
$palette_content_on_tertiary_fixed_variant: #474074;
$palette_content_outline: #89938d;
$palette_content_outline_variant: #3f4944;
$palette_content_primary: #8ed5b8;
$palette_content_primary_container: #015741;
$palette_content_primary_fixed: #a9f1d4;
$palette_content_primary_fixed_dim: #8ed5b8;
$palette_content_scrim: #000000;
$palette_content_secondary: #b1cdbf;
$palette_content_secondary_container: #334c41;
$palette_content_secondary_fixed: #cce9db;
$palette_content_secondary_fixed_dim: #b1cdbf;
$palette_content_shadow: #000000;
$palette_content_source_color: #015741;
$palette_content_surface: #101412;
$palette_content_surface_bright: #363a38;
$palette_content_surface_container: #1d201e;
$palette_content_surface_container_high: #272b29;
$palette_content_surface_container_highest: #323633;
$palette_content_surface_container_low: #191c1a;
$palette_content_surface_container_lowest: #0b0f0d;
$palette_content_surface_dim: #101412;
$palette_content_surface_tint: #8ed5b8;
$palette_content_surface_variant: #3f4944;
$palette_content_tertiary: #c9bffd;
$palette_content_tertiary_container: #4d457a;
$palette_content_tertiary_fixed: #e5deff;
$palette_content_tertiary_fixed_dim: #c9bffd;

/* expressive */
$palette_expressive_background: #0c1514;
$palette_expressive_error: #ffb4ab;
$palette_expressive_error_container: #93000a;
$palette_expressive_inverse_on_surface: #293230;
$palette_expressive_inverse_primary: #8f4d1e;
$palette_expressive_inverse_surface: #dae5e1;
$palette_expressive_on_background: #dae5e1;
$palette_expressive_on_error: #690005;
$palette_expressive_on_error_container: #ffdad6;
$palette_expressive_on_primary: #522300;
$palette_expressive_on_primary_container: #ffdbc8;
$palette_expressive_on_primary_fixed: #321300;
$palette_expressive_on_primary_fixed_variant: #723607;
$palette_expressive_on_secondary: #02363f;
$palette_expressive_on_secondary_container: #beeaf6;
$palette_expressive_on_secondary_fixed: #001f26;
$palette_expressive_on_secondary_fixed_variant: #214d57;
$palette_expressive_on_surface: #dae5e1;
$palette_expressive_on_surface_variant: #b8cac6;
$palette_expressive_on_tertiary: #003734;
$palette_expressive_on_tertiary_container: #a8f0e9;
$palette_expressive_on_tertiary_fixed: #00201e;
$palette_expressive_on_tertiary_fixed_variant: #00504c;
$palette_expressive_outline: #829491;
$palette_expressive_outline_variant: #394a47;
$palette_expressive_primary: #ffb68a;
$palette_expressive_primary_container: #723607;
$palette_expressive_primary_fixed: #ffdbc8;
$palette_expressive_primary_fixed_dim: #ffb68a;
$palette_expressive_scrim: #000000;
$palette_expressive_secondary: #a2ced9;
$palette_expressive_secondary_container: #214d57;
$palette_expressive_secondary_fixed: #beeaf6;
$palette_expressive_secondary_fixed_dim: #a2ced9;
$palette_expressive_shadow: #000000;
$palette_expressive_source_color: #015741;
$palette_expressive_surface: #0c1514;
$palette_expressive_surface_bright: #313b39;
$palette_expressive_surface_container: #182120;
$palette_expressive_surface_container_high: #222c2a;
$palette_expressive_surface_container_highest: #2d3735;
$palette_expressive_surface_container_low: #141d1c;
$palette_expressive_surface_container_lowest: #07100e;
$palette_expressive_surface_dim: #0c1514;
$palette_expressive_surface_tint: #ffb68a;
$palette_expressive_surface_variant: #394a47;
$palette_expressive_tertiary: #8cd3cd;
$palette_expressive_tertiary_container: #00504c;
$palette_expressive_tertiary_fixed: #a8f0e9;
$palette_expressive_tertiary_fixed_dim: #8cd3cd;

/* fidelity */
$palette_fidelity_background: #101412;
$palette_fidelity_error: #ffb4ab;
$palette_fidelity_error_container: #93000a;
$palette_fidelity_inverse_on_surface: #2d312f;
$palette_fidelity_inverse_primary: #216a53;
$palette_fidelity_inverse_surface: #e0e3e0;
$palette_fidelity_on_background: #e0e3e0;
$palette_fidelity_on_error: #690005;
$palette_fidelity_on_error_container: #ffdad6;
$palette_fidelity_on_primary: #003829;
$palette_fidelity_on_primary_container: #b0f8da;
$palette_fidelity_on_primary_fixed: #002116;
$palette_fidelity_on_primary_fixed_variant: #00513c;
$palette_fidelity_on_secondary: #1c352c;
$palette_fidelity_on_secondary_container: #cae7d8;
$palette_fidelity_on_secondary_fixed: #062017;
$palette_fidelity_on_secondary_fixed_variant: #334c41;
$palette_fidelity_on_surface: #e0e3e0;
$palette_fidelity_on_surface_variant: #bfc9c2;
$palette_fidelity_on_tertiary: #551f19;
$palette_fidelity_on_tertiary_container: #ffe3df;
$palette_fidelity_on_tertiary_fixed: #3a0a07;
$palette_fidelity_on_tertiary_fixed_variant: #71352d;
$palette_fidelity_outline: #89938d;
$palette_fidelity_outline_variant: #3f4944;
$palette_fidelity_primary: #8ed5b8;
$palette_fidelity_primary_container: #015741;
$palette_fidelity_primary_fixed: #a9f1d4;
$palette_fidelity_primary_fixed_dim: #8ed5b8;
$palette_fidelity_scrim: #000000;
$palette_fidelity_secondary: #b1cdbf;
$palette_fidelity_secondary_container: #334c41;
$palette_fidelity_secondary_fixed: #cce9db;
$palette_fidelity_secondary_fixed_dim: #b1cdbf;
$palette_fidelity_shadow: #000000;
$palette_fidelity_source_color: #015741;
$palette_fidelity_surface: #101412;
$palette_fidelity_surface_bright: #363a38;
$palette_fidelity_surface_container: #1d201e;
$palette_fidelity_surface_container_high: #272b29;
$palette_fidelity_surface_container_highest: #323633;
$palette_fidelity_surface_container_low: #191c1a;
$palette_fidelity_surface_container_lowest: #0b0f0d;
$palette_fidelity_surface_dim: #101412;
$palette_fidelity_surface_tint: #8ed5b8;
$palette_fidelity_surface_variant: #3f4944;
$palette_fidelity_tertiary: #ffb4a9;
$palette_fidelity_tertiary_container: #783a32;
$palette_fidelity_tertiary_fixed: #ffdad5;
$palette_fidelity_tertiary_fixed_dim: #ffb4a9;

/* fruit-salad */
$palette_fruit_salad_background: #0a1611;
$palette_fruit_salad_error: #ffb4ab;
$palette_fruit_salad_error_container: #93000a;
$palette_fruit_salad_inverse_on_surface: #27332e;
$palette_fruit_salad_inverse_primary: #556500;
$palette_fruit_salad_inverse_surface: #d8e6dd;
$palette_fruit_salad_on_background: #d8e6dd;
$palette_fruit_salad_on_error: #690005;
$palette_fruit_salad_on_error_container: #ffdad6;
$palette_fruit_salad_on_primary: #2b3400;
$palette_fruit_salad_on_primary_container: #d8ed7c;
$palette_fruit_salad_on_primary_fixed: #181e00;
$palette_fruit_salad_on_primary_fixed_variant: #404c00;
$palette_fruit_salad_on_secondary: #2b3400;
$palette_fruit_salad_on_secondary_container: #dbea98;
$palette_fruit_salad_on_secondary_fixed: #181e00;
$palette_fruit_salad_on_secondary_fixed_variant: #404c09;
$palette_fruit_salad_on_surface: #d8e6dd;
$palette_fruit_salad_on_surface_variant: #b3ccc0;
$palette_fruit_salad_on_tertiary: #003829;
$palette_fruit_salad_on_tertiary_container: #a5f2d3;
$palette_fruit_salad_on_tertiary_fixed: #002116;
$palette_fruit_salad_on_tertiary_fixed_variant: #00513c;
$palette_fruit_salad_outline: #7d968b;
$palette_fruit_salad_outline_variant: #354c42;
$palette_fruit_salad_primary: #bcd063;
$palette_fruit_salad_primary_container: #404c00;
$palette_fruit_salad_primary_fixed: #d8ed7c;
$palette_fruit_salad_primary_fixed_dim: #bcd063;
$palette_fruit_salad_scrim: #000000;
$palette_fruit_salad_secondary: #bfce7e;
$palette_fruit_salad_secondary_container: #404c09;
$palette_fruit_salad_secondary_fixed: #dbea98;
$palette_fruit_salad_secondary_fixed_dim: #bfce7e;
$palette_fruit_salad_shadow: #000000;
$palette_fruit_salad_source_color: #015741;
$palette_fruit_salad_surface: #0a1611;
$palette_fruit_salad_surface_bright: #303c36;
$palette_fruit_salad_surface_container: #16221d;
$palette_fruit_salad_surface_container_high: #212c27;
$palette_fruit_salad_surface_container_highest: #2b3732;
$palette_fruit_salad_surface_container_low: #121e19;
$palette_fruit_salad_surface_container_lowest: #05100c;
$palette_fruit_salad_surface_dim: #0a1611;
$palette_fruit_salad_surface_tint: #bcd063;
$palette_fruit_salad_surface_variant: #354c42;
$palette_fruit_salad_tertiary: #8ad6b7;
$palette_fruit_salad_tertiary_container: #00513c;
$palette_fruit_salad_tertiary_fixed: #a5f2d3;
$palette_fruit_salad_tertiary_fixed_dim: #8ad6b7;

/* monochrome */
$palette_monochrome_background: #131313;
$palette_monochrome_error: #ffb4ab;
$palette_monochrome_error_container: #93000a;
$palette_monochrome_inverse_on_surface: #303030;
$palette_monochrome_inverse_primary: #5e5e5e;
$palette_monochrome_inverse_surface: #e2e2e2;
$palette_monochrome_on_background: #e2e2e2;
$palette_monochrome_on_error: #690005;
$palette_monochrome_on_error_container: #ffdad6;
$palette_monochrome_on_primary: #1b1b1b;
$palette_monochrome_on_primary_container: #000000;
$palette_monochrome_on_primary_fixed: #ffffff;
$palette_monochrome_on_primary_fixed_variant: #e2e2e2;
$palette_monochrome_on_secondary: #1b1b1b;
$palette_monochrome_on_secondary_container: #e2e2e2;
$palette_monochrome_on_secondary_fixed: #1b1b1b;
$palette_monochrome_on_secondary_fixed_variant: #3b3b3b;
$palette_monochrome_on_surface: #e2e2e2;
$palette_monochrome_on_surface_variant: #c6c6c6;
$palette_monochrome_on_tertiary: #1b1b1b;
$palette_monochrome_on_tertiary_container: #000000;
$palette_monochrome_on_tertiary_fixed: #ffffff;
$palette_monochrome_on_tertiary_fixed_variant: #e2e2e2;
$palette_monochrome_outline: #919191;
$palette_monochrome_outline_variant: #474747;
$palette_monochrome_primary: #ffffff;
$palette_monochrome_primary_container: #d4d4d4;
$palette_monochrome_primary_fixed: #5e5e5e;
$palette_monochrome_primary_fixed_dim: #474747;
$palette_monochrome_scrim: #000000;
$palette_monochrome_secondary: #c6c6c6;
$palette_monochrome_secondary_container: #474747;
$palette_monochrome_secondary_fixed: #c6c6c6;
$palette_monochrome_secondary_fixed_dim: #ababab;
$palette_monochrome_shadow: #000000;
$palette_monochrome_source_color: #015741;
$palette_monochrome_surface: #131313;
$palette_monochrome_surface_bright: #393939;
$palette_monochrome_surface_container: #1f1f1f;
$palette_monochrome_surface_container_high: #2a2a2a;
$palette_monochrome_surface_container_highest: #353535;
$palette_monochrome_surface_container_low: #1b1b1b;
$palette_monochrome_surface_container_lowest: #0e0e0e;
$palette_monochrome_surface_dim: #131313;
$palette_monochrome_surface_tint: #c6c6c6;
$palette_monochrome_surface_variant: #474747;
$palette_monochrome_tertiary: #e2e2e2;
$palette_monochrome_tertiary_container: #919191;
$palette_monochrome_tertiary_fixed: #5e5e5e;
$palette_monochrome_tertiary_fixed_dim: #474747;

/* neutral */
$palette_neutral_background: #121413;
$palette_neutral_error: #ffb4ab;
$palette_neutral_error_container: #93000a;
$palette_neutral_inverse_on_surface: #303130;
$palette_neutral_inverse_primary: #52625a;
$palette_neutral_inverse_surface: #e3e2e0;
$palette_neutral_on_background: #e3e2e0;
$palette_neutral_on_error: #690005;
$palette_neutral_on_error_container: #ffdad6;
$palette_neutral_on_primary: #24342d;
$palette_neutral_on_primary_container: #d5e7dd;
$palette_neutral_on_primary_fixed: #0f1e19;
$palette_neutral_on_primary_fixed_variant: #3a4a43;
$palette_neutral_on_secondary: #29322e;
$palette_neutral_on_secondary_container: #dbe5de;
$palette_neutral_on_secondary_fixed: #151d1a;
$palette_neutral_on_secondary_fixed_variant: #404944;
$palette_neutral_on_surface: #e3e2e0;
$palette_neutral_on_surface_variant: #c7c6c4;
$palette_neutral_on_tertiary: #1e352c;
$palette_neutral_on_tertiary_container: #cee9db;
$palette_neutral_on_tertiary_fixed: #082018;
$palette_neutral_on_tertiary_fixed_variant: #354c42;
$palette_neutral_outline: #91918f;
$palette_neutral_outline_variant: #464746;
$palette_neutral_primary: #b9cbc1;
$palette_neutral_primary_container: #3a4a43;
$palette_neutral_primary_fixed: #d5e7dd;
$palette_neutral_primary_fixed_dim: #b9cbc1;
$palette_neutral_scrim: #000000;
$palette_neutral_secondary: #bfc9c2;
$palette_neutral_secondary_container: #404944;
$palette_neutral_secondary_fixed: #dbe5de;
$palette_neutral_secondary_fixed_dim: #bfc9c2;
$palette_neutral_shadow: #000000;
$palette_neutral_source_color: #015741;
$palette_neutral_surface: #121413;
$palette_neutral_surface_bright: #383938;
$palette_neutral_surface_container: #1f201f;
$palette_neutral_surface_container_high: #292a29;
$palette_neutral_surface_container_highest: #343534;
$palette_neutral_surface_container_low: #1b1c1b;
$palette_neutral_surface_container_lowest: #0d0e0e;
$palette_neutral_surface_dim: #121413;
$palette_neutral_surface_tint: #b9cbc1;
$palette_neutral_surface_variant: #464746;
$palette_neutral_tertiary: #b3ccc0;
$palette_neutral_tertiary_container: #354c42;
$palette_neutral_tertiary_fixed: #cee9db;
$palette_neutral_tertiary_fixed_dim: #b3ccc0;

/* rainbow */
$palette_rainbow_background: #131313;
$palette_rainbow_error: #ffb4ab;
$palette_rainbow_error_container: #93000a;
$palette_rainbow_inverse_on_surface: #303030;
$palette_rainbow_inverse_primary: #006c51;
$palette_rainbow_inverse_surface: #e2e2e2;
$palette_rainbow_on_background: #e2e2e2;
$palette_rainbow_on_error: #690005;
$palette_rainbow_on_error_container: #ffdad6;
$palette_rainbow_on_primary: #003829;
$palette_rainbow_on_primary_container: #83f8cd;
$palette_rainbow_on_primary_fixed: #002116;
$palette_rainbow_on_primary_fixed_variant: #00513c;
$palette_rainbow_on_secondary: #1e352c;
$palette_rainbow_on_secondary_container: #cee9db;
$palette_rainbow_on_secondary_fixed: #082018;
$palette_rainbow_on_secondary_fixed_variant: #354c42;
$palette_rainbow_on_surface: #e2e2e2;
$palette_rainbow_on_surface_variant: #c6c6c6;
$palette_rainbow_on_tertiary: #0a3445;
$palette_rainbow_on_tertiary_container: #c2e8fd;
$palette_rainbow_on_tertiary_fixed: #001e2b;
$palette_rainbow_on_tertiary_fixed_variant: #264b5c;
$palette_rainbow_outline: #919191;
$palette_rainbow_outline_variant: #474747;
$palette_rainbow_primary: #66dbb2;
$palette_rainbow_primary_container: #00513c;
$palette_rainbow_primary_fixed: #83f8cd;
$palette_rainbow_primary_fixed_dim: #66dbb2;
$palette_rainbow_scrim: #000000;
$palette_rainbow_secondary: #b3ccc0;
$palette_rainbow_secondary_container: #354c42;
$palette_rainbow_secondary_fixed: #cee9db;
$palette_rainbow_secondary_fixed_dim: #b3ccc0;
$palette_rainbow_shadow: #000000;
$palette_rainbow_source_color: #015741;
$palette_rainbow_surface: #131313;
$palette_rainbow_surface_bright: #393939;
$palette_rainbow_surface_container: #1f1f1f;
$palette_rainbow_surface_container_high: #2a2a2a;
$palette_rainbow_surface_container_highest: #353535;
$palette_rainbow_surface_container_low: #1b1b1b;
$palette_rainbow_surface_container_lowest: #0e0e0e;
$palette_rainbow_surface_dim: #131313;
$palette_rainbow_surface_tint: #66dbb2;
$palette_rainbow_surface_variant: #474747;
$palette_rainbow_tertiary: #a7cce0;
$palette_rainbow_tertiary_container: #264b5c;
$palette_rainbow_tertiary_fixed: #c2e8fd;
$palette_rainbow_tertiary_fixed_dim: #a7cce0;

/* tonal-spot */
$palette_tonal_spot_background: #0f1512;
$palette_tonal_spot_error: #ffb4ab;
$palette_tonal_spot_error_container: #93000a;
$palette_tonal_spot_inverse_on_surface: #2c322f;
$palette_tonal_spot_inverse_primary: #196b52;
$palette_tonal_spot_inverse_surface: #dee4df;
$palette_tonal_spot_on_background: #dee4df;
$palette_tonal_spot_on_error: #690005;
$palette_tonal_spot_on_error_container: #ffdad6;
$palette_tonal_spot_on_primary: #003829;
$palette_tonal_spot_on_primary_container: #a5f2d3;
$palette_tonal_spot_on_primary_fixed: #002116;
$palette_tonal_spot_on_primary_fixed_variant: #00513c;
$palette_tonal_spot_on_secondary: #1e352c;
$palette_tonal_spot_on_secondary_container: #cee9db;
$palette_tonal_spot_on_secondary_fixed: #082018;
$palette_tonal_spot_on_secondary_fixed_variant: #354c42;
$palette_tonal_spot_on_surface: #dee4df;
$palette_tonal_spot_on_surface_variant: #bfc9c2;
$palette_tonal_spot_on_tertiary: #0a3445;
$palette_tonal_spot_on_tertiary_container: #c2e8fd;
$palette_tonal_spot_on_tertiary_fixed: #001e2b;
$palette_tonal_spot_on_tertiary_fixed_variant: #264b5c;
$palette_tonal_spot_outline: #89938d;
$palette_tonal_spot_outline_variant: #404944;
$palette_tonal_spot_primary: #8ad6b7;
$palette_tonal_spot_primary_container: #00513c;
$palette_tonal_spot_primary_fixed: #a5f2d3;
$palette_tonal_spot_primary_fixed_dim: #8ad6b7;
$palette_tonal_spot_scrim: #000000;
$palette_tonal_spot_secondary: #b3ccc0;
$palette_tonal_spot_secondary_container: #354c42;
$palette_tonal_spot_secondary_fixed: #cee9db;
$palette_tonal_spot_secondary_fixed_dim: #b3ccc0;
$palette_tonal_spot_shadow: #000000;
$palette_tonal_spot_source_color: #015741;
$palette_tonal_spot_surface: #0f1512;
$palette_tonal_spot_surface_bright: #343b37;
$palette_tonal_spot_surface_container: #1b211e;
$palette_tonal_spot_surface_container_high: #252b28;
$palette_tonal_spot_surface_container_highest: #303633;
$palette_tonal_spot_surface_container_low: #171d1a;
$palette_tonal_spot_surface_container_lowest: #0a0f0d;
$palette_tonal_spot_surface_dim: #0f1512;
$palette_tonal_spot_surface_tint: #8ad6b7;
$palette_tonal_spot_surface_variant: #404944;
$palette_tonal_spot_tertiary: #a7cce0;
$palette_tonal_spot_tertiary_container: #264b5c;
$palette_tonal_spot_tertiary_fixed: #c2e8fd;
$palette_tonal_spot_tertiary_fixed_dim: #a7cce0;

