/* content */
$palette_content_background: #131317;
$palette_content_error: #ffb4ab;
$palette_content_error_container: #93000a;
$palette_content_inverse_on_surface: #303035;
$palette_content_inverse_primary: #51589d;
$palette_content_inverse_surface: #e4e1e8;
$palette_content_on_background: #e4e1e8;
$palette_content_on_error: #690005;
$palette_content_on_error_container: #ffdad6;
$palette_content_on_primary: #22296c;
$palette_content_on_primary_container: #c4c8ff;
$palette_content_on_primary_fixed: #091057;
$palette_content_on_primary_fixed_variant: #394084;
$palette_content_on_secondary: #2c2e49;
$palette_content_on_secondary_container: #e1e2ff;
$palette_content_on_secondary_fixed: #171933;
$palette_content_on_secondary_fixed_variant: #424560;
$palette_content_on_surface: #e4e1e8;
$palette_content_on_surface_variant: #c7c5d2;
$palette_content_on_tertiary: #4f1a51;
$palette_content_on_tertiary_container: #fbb5f6;
$palette_content_on_tertiary_fixed: #36013a;
$palette_content_on_tertiary_fixed_variant: #693169;
$palette_content_outline: #908f9b;
$palette_content_outline_variant: #464650;
$palette_content_primary: #bdc2ff;
$palette_content_primary_container: #2c3376;
$palette_content_primary_fixed: #e0e0ff;
$palette_content_primary_fixed_dim: #bdc2ff;
$palette_content_scrim: #000000;
$palette_content_secondary: #c3c4e5;
$palette_content_secondary_container: #454763;
$palette_content_secondary_fixed: #e0e0ff;
$palette_content_secondary_fixed_dim: #c3c4e5;
$palette_content_shadow: #000000;
$palette_content_source_color: #2c3376;
$palette_content_surface: #131317;
$palette_content_surface_bright: #39393e;
$palette_content_surface_container: #1f1f24;
$palette_content_surface_container_high: #2a292e;
$palette_content_surface_container_highest: #353439;
$palette_content_surface_container_low: #1b1b20;
$palette_content_surface_container_lowest: #0e0e12;
$palette_content_surface_dim: #131317;
$palette_content_surface_tint: #bdc2ff;
$palette_content_surface_variant: #464650;
$palette_content_tertiary: #f6aff0;
$palette_content_tertiary_container: #5a245b;
$palette_content_tertiary_fixed: #ffd6f8;
$palette_content_tertiary_fixed_dim: #f6aff0;

/* expressive */
$palette_expressive_background: #14121a;
$palette_expressive_error: #ffb4ab;
$palette_expressive_error_container: #93000a;
$palette_expressive_inverse_on_surface: #322f38;
$palette_expressive_inverse_primary: #186b46;
$palette_expressive_inverse_surface: #e6e0ec;
$palette_expressive_on_background: #e6e0ec;
$palette_expressive_on_error: #690005;
$palette_expressive_on_error_container: #ffdad6;
$palette_expressive_on_primary: #003821;
$palette_expressive_on_primary_container: #a4f4c4;
$palette_expressive_on_primary_fixed: #002112;
$palette_expressive_on_primary_fixed_variant: #005232;
$palette_expressive_on_secondary: #402843;
$palette_expressive_on_secondary_container: #fcd7fb;
$palette_expressive_on_secondary_fixed: #29132d;
$palette_expressive_on_secondary_fixed_variant: #583e5b;
$palette_expressive_on_surface: #e6e0ec;
$palette_expressive_on_surface_variant: #cac4d5;
$palette_expressive_on_tertiary: #372856;
$palette_expressive_on_tertiary_container: #eaddff;
$palette_expressive_on_tertiary_fixed: #211240;
$palette_expressive_on_tertiary_fixed_variant: #4e3e6e;
$palette_expressive_outline: #948e9f;
$palette_expressive_outline_variant: #494553;
$palette_expressive_primary: #88d7a9;
$palette_expressive_primary_container: #005232;
$palette_expressive_primary_fixed: #a4f4c4;
$palette_expressive_primary_fixed_dim: #88d7a9;
$palette_expressive_scrim: #000000;
$palette_expressive_secondary: #debcdf;
$palette_expressive_secondary_container: #583e5b;
$palette_expressive_secondary_fixed: #fcd7fb;
$palette_expressive_secondary_fixed_dim: #debcdf;
$palette_expressive_shadow: #000000;
$palette_expressive_source_color: #2c3376;
$palette_expressive_surface: #14121a;
$palette_expressive_surface_bright: #3a3841;
$palette_expressive_surface_container: #211e26;
$palette_expressive_surface_container_high: #2b2931;
$palette_expressive_surface_container_highest: #36333c;
$palette_expressive_surface_container_low: #1c1a22;
$palette_expressive_surface_container_lowest: #0f0d15;
$palette_expressive_surface_dim: #14121a;
$palette_expressive_surface_tint: #88d7a9;
$palette_expressive_surface_variant: #494553;
$palette_expressive_tertiary: #d1bdf6;
$palette_expressive_tertiary_container: #4e3e6e;
$palette_expressive_tertiary_fixed: #eaddff;
$palette_expressive_tertiary_fixed_dim: #d1bdf6;

/* fidelity */
$palette_fidelity_background: #131317;
$palette_fidelity_error: #ffb4ab;
$palette_fidelity_error_container: #93000a;
$palette_fidelity_inverse_on_surface: #303035;
$palette_fidelity_inverse_primary: #51589d;
$palette_fidelity_inverse_surface: #e4e1e8;
$palette_fidelity_on_background: #e4e1e8;
$palette_fidelity_on_error: #690005;
$palette_fidelity_on_error_container: #ffdad6;
$palette_fidelity_on_primary: #22296c;
$palette_fidelity_on_primary_container: #c4c8ff;
$palette_fidelity_on_primary_fixed: #091057;
$palette_fidelity_on_primary_fixed_variant: #394084;
$palette_fidelity_on_secondary: #2c2e49;
$palette_fidelity_on_secondary_container: #e1e2ff;
$palette_fidelity_on_secondary_fixed: #171933;
$palette_fidelity_on_secondary_fixed_variant: #424560;
$palette_fidelity_on_surface: #e4e1e8;
$palette_fidelity_on_surface_variant: #c7c5d2;
$palette_fidelity_on_tertiary: #4d2600;
$palette_fidelity_on_tertiary_container: #ffbe8b;
$palette_fidelity_on_tertiary_fixed: #2f1500;
$palette_fidelity_on_tertiary_fixed_variant: #6b3b0b;
$palette_fidelity_outline: #908f9b;
$palette_fidelity_outline_variant: #464650;
$palette_fidelity_primary: #bdc2ff;
$palette_fidelity_primary_container: #2c3376;
$palette_fidelity_primary_fixed: #e0e0ff;
$palette_fidelity_primary_fixed_dim: #bdc2ff;
$palette_fidelity_scrim: #000000;
$palette_fidelity_secondary: #c3c4e5;
$palette_fidelity_secondary_container: #454763;
$palette_fidelity_secondary_fixed: #e0e0ff;
$palette_fidelity_secondary_fixed_dim: #c3c4e5;
$palette_fidelity_shadow: #000000;
$palette_fidelity_source_color: #2c3376;
$palette_fidelity_surface: #131317;
$palette_fidelity_surface_bright: #39393e;
$palette_fidelity_surface_container: #1f1f24;
$palette_fidelity_surface_container_high: #2a292e;
$palette_fidelity_surface_container_highest: #353439;
$palette_fidelity_surface_container_low: #1b1b20;
$palette_fidelity_surface_container_lowest: #0e0e12;
$palette_fidelity_surface_dim: #131317;
$palette_fidelity_surface_tint: #bdc2ff;
$palette_fidelity_surface_variant: #464650;
$palette_fidelity_tertiary: #ffb77e;
$palette_fidelity_tertiary_container: #5b2e00;
$palette_fidelity_tertiary_fixed: #ffdcc3;
$palette_fidelity_tertiary_fixed_dim: #ffb77e;

/* fruit-salad */
$palette_fruit_salad_background: #12131c;
$palette_fruit_salad_error: #ffb4ab;
$palette_fruit_salad_error_container: #93000a;
$palette_fruit_salad_inverse_on_surface: #2f303a;
$palette_fruit_salad_inverse_primary: #006687;
$palette_fruit_salad_inverse_surface: #e3e1ef;
$palette_fruit_salad_on_background: #e3e1ef;
$palette_fruit_salad_on_error: #690005;
$palette_fruit_salad_on_error_container: #ffdad6;
$palette_fruit_salad_on_primary: #003548;
$palette_fruit_salad_on_primary_container: #c1e8ff;
$palette_fruit_salad_on_primary_fixed: #001e2b;
$palette_fruit_salad_on_primary_fixed_variant: #004d66;
$palette_fruit_salad_on_secondary: #003548;
$palette_fruit_salad_on_secondary_container: #c1e8ff;
$palette_fruit_salad_on_secondary_fixed: #001e2b;
$palette_fruit_salad_on_secondary_fixed_variant: #004d66;
$palette_fruit_salad_on_surface: #e3e1ef;
$palette_fruit_salad_on_surface_variant: #c4c4dd;
$palette_fruit_salad_on_tertiary: #252b61;
$palette_fruit_salad_on_tertiary_container: #e0e0ff;
$palette_fruit_salad_on_tertiary_fixed: #0f154b;
$palette_fruit_salad_on_tertiary_fixed_variant: #3c4279;
$palette_fruit_salad_outline: #8e8fa6;
$palette_fruit_salad_outline_variant: #444559;
$palette_fruit_salad_primary: #72d2ff;
$palette_fruit_salad_primary_container: #004d66;
$palette_fruit_salad_primary_fixed: #c1e8ff;
$palette_fruit_salad_primary_fixed_dim: #72d2ff;
$palette_fruit_salad_scrim: #000000;
$palette_fruit_salad_secondary: #8dcff1;
$palette_fruit_salad_secondary_container: #004d66;
$palette_fruit_salad_secondary_fixed: #c1e8ff;
$palette_fruit_salad_secondary_fixed_dim: #8dcff1;
$palette_fruit_salad_shadow: #000000;
$palette_fruit_salad_source_color: #2c3376;
$palette_fruit_salad_surface: #12131c;
$palette_fruit_salad_surface_bright: #383843;
$palette_fruit_salad_surface_container: #1e1f29;
$palette_fruit_salad_surface_container_high: #292934;
$palette_fruit_salad_surface_container_highest: #33343f;
$palette_fruit_salad_surface_container_low: #1a1b25;
$palette_fruit_salad_surface_container_lowest: #0d0d17;
$palette_fruit_salad_surface_dim: #12131c;
$palette_fruit_salad_surface_tint: #72d2ff;
$palette_fruit_salad_surface_variant: #444559;
$palette_fruit_salad_tertiary: #bdc2ff;
$palette_fruit_salad_tertiary_container: #3c4279;
$palette_fruit_salad_tertiary_fixed: #e0e0ff;
$palette_fruit_salad_tertiary_fixed_dim: #bdc2ff;

/* monochrome */
$palette_monochrome_background: #131313;
$palette_monochrome_error: #ffb4ab;
$palette_monochrome_error_container: #93000a;
$palette_monochrome_inverse_on_surface: #303030;
$palette_monochrome_inverse_primary: #5e5e5e;
$palette_monochrome_inverse_surface: #e2e2e2;
$palette_monochrome_on_background: #e2e2e2;
$palette_monochrome_on_error: #690005;
$palette_monochrome_on_error_container: #ffdad6;
$palette_monochrome_on_primary: #1b1b1b;
$palette_monochrome_on_primary_container: #000000;
$palette_monochrome_on_primary_fixed: #ffffff;
$palette_monochrome_on_primary_fixed_variant: #e2e2e2;
$palette_monochrome_on_secondary: #1b1b1b;
$palette_monochrome_on_secondary_container: #e2e2e2;
$palette_monochrome_on_secondary_fixed: #1b1b1b;
$palette_monochrome_on_secondary_fixed_variant: #3b3b3b;
$palette_monochrome_on_surface: #e2e2e2;
$palette_monochrome_on_surface_variant: #c6c6c6;
$palette_monochrome_on_tertiary: #1b1b1b;
$palette_monochrome_on_tertiary_container: #000000;
$palette_monochrome_on_tertiary_fixed: #ffffff;
$palette_monochrome_on_tertiary_fixed_variant: #e2e2e2;
$palette_monochrome_outline: #919191;
$palette_monochrome_outline_variant: #474747;
$palette_monochrome_primary: #ffffff;
$palette_monochrome_primary_container: #d4d4d4;
$palette_monochrome_primary_fixed: #5e5e5e;
$palette_monochrome_primary_fixed_dim: #474747;
$palette_monochrome_scrim: #000000;
$palette_monochrome_secondary: #c6c6c6;
$palette_monochrome_secondary_container: #474747;
$palette_monochrome_secondary_fixed: #c6c6c6;
$palette_monochrome_secondary_fixed_dim: #ababab;
$palette_monochrome_shadow: #000000;
$palette_monochrome_source_color: #2c3376;
$palette_monochrome_surface: #131313;
$palette_monochrome_surface_bright: #393939;
$palette_monochrome_surface_container: #1f1f1f;
$palette_monochrome_surface_container_high: #2a2a2a;
$palette_monochrome_surface_container_highest: #353535;
$palette_monochrome_surface_container_low: #1b1b1b;
$palette_monochrome_surface_container_lowest: #0e0e0e;
$palette_monochrome_surface_dim: #131313;
$palette_monochrome_surface_tint: #c6c6c6;
$palette_monochrome_surface_variant: #474747;
$palette_monochrome_tertiary: #e2e2e2;
$palette_monochrome_tertiary_container: #919191;
$palette_monochrome_tertiary_fixed: #5e5e5e;
$palette_monochrome_tertiary_fixed_dim: #474747;

/* neutral */
$palette_neutral_background: #131315;
$palette_neutral_error: #ffb4ab;
$palette_neutral_error_container: #93000a;
$palette_neutral_inverse_on_surface: #313032;
$palette_neutral_inverse_primary: #5d5d6c;
$palette_neutral_inverse_surface: #e5e1e3;
$palette_neutral_on_background: #e5e1e3;
$palette_neutral_on_error: #690005;
$palette_neutral_on_error_container: #ffdad6;
$palette_neutral_on_primary: #2f2f3d;
$palette_neutral_on_primary_container: #e2e1f3;
$palette_neutral_on_primary_fixed: #1a1b27;
$palette_neutral_on_primary_fixed_variant: #454654;
$palette_neutral_on_secondary: #303038;
$palette_neutral_on_secondary_container: #e3e1ec;
$palette_neutral_on_secondary_fixed: #1b1b23;
$palette_neutral_on_secondary_fixed_variant: #46464f;
$palette_neutral_on_surface: #e5e1e3;
$palette_neutral_on_surface_variant: #c9c6c7;
$palette_neutral_on_tertiary: #2d2f42;
$palette_neutral_on_tertiary_container: #e1e0f9;
$palette_neutral_on_tertiary_fixed: #181a2c;
$palette_neutral_on_tertiary_fixed_variant: #444559;
$palette_neutral_outline: #929092;
$palette_neutral_outline_variant: #474648;
$palette_neutral_primary: #c6c5d6;
$palette_neutral_primary_container: #454654;
$palette_neutral_primary_fixed: #e2e1f3;
$palette_neutral_primary_fixed_dim: #c6c5d6;
$palette_neutral_scrim: #000000;
$palette_neutral_secondary: #c7c5d0;
$palette_neutral_secondary_container: #46464f;
$palette_neutral_secondary_fixed: #e3e1ec;
$palette_neutral_secondary_fixed_dim: #c7c5d0;
$palette_neutral_shadow: #000000;
$palette_neutral_source_color: #2c3376;
$palette_neutral_surface: #131315;
$palette_neutral_surface_bright: #3a393a;
$palette_neutral_surface_container: #201f21;
$palette_neutral_surface_container_high: #2a2a2b;
$palette_neutral_surface_container_highest: #353436;
$palette_neutral_surface_container_low: #1c1b1d;
$palette_neutral_surface_container_lowest: #0e0e0f;
$palette_neutral_surface_dim: #131315;
$palette_neutral_surface_tint: #c6c5d6;
$palette_neutral_surface_variant: #474648;
$palette_neutral_tertiary: #c4c4dd;
$palette_neutral_tertiary_container: #444559;
$palette_neutral_tertiary_fixed: #e1e0f9;
$palette_neutral_tertiary_fixed_dim: #c4c4dd;

/* rainbow */
$palette_rainbow_background: #131313;
$palette_rainbow_error: #ffb4ab;
$palette_rainbow_error_container: #93000a;
$palette_rainbow_inverse_on_surface: #303030;
$palette_rainbow_inverse_primary: #4e57a9;
$palette_rainbow_inverse_surface: #e2e2e2;
$palette_rainbow_on_background: #e2e2e2;
$palette_rainbow_on_error: #690005;
$palette_rainbow_on_error_container: #ffdad6;
$palette_rainbow_on_primary: #1d2678;
$palette_rainbow_on_primary_container: #e0e0ff;
$palette_rainbow_on_primary_fixed: #010865;
$palette_rainbow_on_primary_fixed_variant: #363e90;
$palette_rainbow_on_secondary: #2d2f42;
$palette_rainbow_on_secondary_container: #e1e0f9;
$palette_rainbow_on_secondary_fixed: #181a2c;
$palette_rainbow_on_secondary_fixed_variant: #444559;
$palette_rainbow_on_surface: #e2e2e2;
$palette_rainbow_on_surface_variant: #c6c6c6;
$palette_rainbow_on_tertiary: #45263c;
$palette_rainbow_on_tertiary_container: #ffd7ef;
$palette_rainbow_on_tertiary_fixed: #2e1126;
$palette_rainbow_on_tertiary_fixed_variant: #5e3c53;
$palette_rainbow_outline: #919191;
$palette_rainbow_outline_variant: #474747;
$palette_rainbow_primary: #bdc2ff;
$palette_rainbow_primary_container: #363e90;
$palette_rainbow_primary_fixed: #e0e0ff;
$palette_rainbow_primary_fixed_dim: #bdc2ff;
$palette_rainbow_scrim: #000000;
$palette_rainbow_secondary: #c4c4dd;
$palette_rainbow_secondary_container: #444559;
$palette_rainbow_secondary_fixed: #e1e0f9;
$palette_rainbow_secondary_fixed_dim: #c4c4dd;
$palette_rainbow_shadow: #000000;
$palette_rainbow_source_color: #2c3376;
$palette_rainbow_surface: #131313;
$palette_rainbow_surface_bright: #393939;
$palette_rainbow_surface_container: #1f1f1f;
$palette_rainbow_surface_container_high: #2a2a2a;
$palette_rainbow_surface_container_highest: #353535;
$palette_rainbow_surface_container_low: #1b1b1b;
$palette_rainbow_surface_container_lowest: #0e0e0e;
$palette_rainbow_surface_dim: #131313;
$palette_rainbow_surface_tint: #bdc2ff;
$palette_rainbow_surface_variant: #474747;
$palette_rainbow_tertiary: #e7b9d6;
$palette_rainbow_tertiary_container: #5e3c53;
$palette_rainbow_tertiary_fixed: #ffd7ef;
$palette_rainbow_tertiary_fixed_dim: #e7b9d6;

/* tonal-spot */
$palette_tonal_spot_background: #131318;
$palette_tonal_spot_error: #ffb4ab;
$palette_tonal_spot_error_container: #93000a;
$palette_tonal_spot_inverse_on_surface: #303036;
$palette_tonal_spot_inverse_primary: #545a92;
$palette_tonal_spot_inverse_surface: #e4e1e9;
$palette_tonal_spot_on_background: #e4e1e9;
$palette_tonal_spot_on_error: #690005;
$palette_tonal_spot_on_error_container: #ffdad6;
$palette_tonal_spot_on_primary: #252b61;
$palette_tonal_spot_on_primary_container: #e0e0ff;
$palette_tonal_spot_on_primary_fixed: #0f154b;
$palette_tonal_spot_on_primary_fixed_variant: #3c4279;
$palette_tonal_spot_on_secondary: #2d2f42;
$palette_tonal_spot_on_secondary_container: #e1e0f9;
$palette_tonal_spot_on_secondary_fixed: #181a2c;
$palette_tonal_spot_on_secondary_fixed_variant: #444559;
$palette_tonal_spot_on_surface: #e4e1e9;
$palette_tonal_spot_on_surface_variant: #c7c5d0;
$palette_tonal_spot_on_tertiary: #45263c;
$palette_tonal_spot_on_tertiary_container: #ffd7ef;
$palette_tonal_spot_on_tertiary_fixed: #2e1126;
$palette_tonal_spot_on_tertiary_fixed_variant: #5e3c53;
$palette_tonal_spot_outline: #91909a;
$palette_tonal_spot_outline_variant: #46464f;
$palette_tonal_spot_primary: #bdc2ff;
$palette_tonal_spot_primary_container: #3c4279;
$palette_tonal_spot_primary_fixed: #e0e0ff;
$palette_tonal_spot_primary_fixed_dim: #bdc2ff;
$palette_tonal_spot_scrim: #000000;
$palette_tonal_spot_secondary: #c4c4dd;
$palette_tonal_spot_secondary_container: #444559;
$palette_tonal_spot_secondary_fixed: #e1e0f9;
$palette_tonal_spot_secondary_fixed_dim: #c4c4dd;
$palette_tonal_spot_shadow: #000000;
$palette_tonal_spot_source_color: #2c3376;
$palette_tonal_spot_surface: #131318;
$palette_tonal_spot_surface_bright: #39393f;
$palette_tonal_spot_surface_container: #1f1f25;
$palette_tonal_spot_surface_container_high: #29292f;
$palette_tonal_spot_surface_container_highest: #34343a;
$palette_tonal_spot_surface_container_low: #1b1b21;
$palette_tonal_spot_surface_container_lowest: #0d0e13;
$palette_tonal_spot_surface_dim: #131318;
$palette_tonal_spot_surface_tint: #bdc2ff;
$palette_tonal_spot_surface_variant: #46464f;
$palette_tonal_spot_tertiary: #e7b9d6;
$palette_tonal_spot_tertiary_container: #5e3c53;
$palette_tonal_spot_tertiary_fixed: #ffd7ef;
$palette_tonal_spot_tertiary_fixed_dim: #e7b9d6;

