$palette_monochrome_primary: #FFFFFF;
$palette_monochrome_secondary: #C6C6C6;
$palette_monochrome_tertiary: #E2E2E2;
$palette_tonal_spot_primary: #FFB1C7;
$palette_tonal_spot_secondary: #E3BDC6;
$palette_tonal_spot_tertiary: #EEBD93;
$palette_vibrant_primary: #FFB1C7;
$palette_vibrant_secondary: #F5B7B6;
$palette_vibrant_tertiary: #FFB59E;
$palette_expressive_primary: #8BCEFE;
$palette_expressive_secondary: #F4BA9D;
$palette_expressive_tertiary: #C0CD87;
$palette_fidelity_primary: #FFB1C7;
$palette_fidelity_secondary: #E8BBC6;
$palette_fidelity_tertiary: #99D59A;
$palette_content_primary: #FFB1C7;
$palette_content_secondary: #E8BBC6;
$palette_content_tertiary: #FFB77D;
$palette_rainbow_primary: #FFB1C7;
$palette_rainbow_secondary: #E3BDC6;
$palette_rainbow_tertiary: #EEBD93;
$palette_fruit_salad_primary: #DDB7FF;
$palette_fruit_salad_secondary: #DBB9F9;
$palette_fruit_salad_tertiary: #FFB1C7;
$palette_neutral_primary: #DCBFC6;
$palette_neutral_secondary: #D5C2C5;
$palette_neutral_tertiary: #E3BDC6;
