.notification-popup {
  margin: 0.5rem;
  min-width: 25rem;
  background-color: c.$background;
  padding: 0.1rem 1.2rem 1rem 1.2rem;
  border-radius: 2rem;

  & .notification-close {
    background-color: c.$primary;
    border-radius: 0.8rem;
    color: c.$background;
  }

  & .notification-action {
    background-color: c.$primary;
    border-radius: 0.5rem;
    color: c.$background;
  }

  & .notification-close:hover {
    background-color: c.$onPrimary;
    color: c.$onSurface;
  }

  & .notification-action:hover {
    background-color: c.$onPrimary;
    color: c.$onSurface;
  }
}

.notification-progress {
  min-height: 0.2rem;
  border-radius: 1rem;
}

.notification-progress trough {
  border-radius: 1rem;
  min-height: 0.2rem;
  background-color: c.$background;
}

.notification-progress highlight {
  background-color: c.$primary;
  border-radius: 1rem;
}
