.exs-osd {
  background-color: c.$background;
  padding: 0.5rem;
  border-radius: 2rem;
  color: c.$on_surface;

  .exs-osd-icon {
    color: c.$primary;
    font-size: 2rem;
    margin: 0.2rem;

    &.vertical {
      margin-right: 1rem;
    }
  }

  .exs-osd-progress {
    margin-right: 0.5rem;

    trough {
      background-color: c.$surface_container_highest;
    }

    slider {
      background-color: c.$primary;
      border: 0.2rem solid c.$surface_bright;
      border-radius: 1rem;
      min-width: 0.2rem;
      min-height: 1.6rem;
      margin-bottom: -0.5rem;
      margin-top: -0.5rem;
    }

    highlight {
      background-color: c.$primary;
      border-radius: 1rem;
    }
  }

  .vertical {
    margin-bottom: 1rem;
    trough {
      min-height: 15rem;
      min-width: 0.7rem;
      border-radius: 0.3rem 0.3rem 1rem 1rem;
      margin-left: 0.5rem;
    }

    slider {
      min-height: 0.2rem;
      min-width: 1.6rem;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
  }

  .horizontal {
    trough {
      min-height: 0.7rem;
      min-width: 15rem;
      border-radius: 0.3rem 1rem 1rem 0.3rem;
    }

    slider {
      min-width: 0.2rem;
      min-height: 1.6rem;
      margin-bottom: -0.5rem;
      margin-top: -0.5rem;
    }
  }
}
