/*
* GTK Colors
* Generated with Matugen
*/
layout {
    focus-ring {
        // active-color "{{colors.primary.default.hex}}"

        active-gradient from="{{colors.primary.default.hex}}" to="{{colors.on_primary_fixed_variant.default.hex}}" angle=45 relative-to="workspace-view"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    border {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.shadow.default.hex}}70"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}
