.settings {
  background-color: c.$bg;
  color: c.$fg;
  border-radius: 0.7rem;
  transition: 0.2s;
}

.settings-sidebar {
  background-color: rgba(255, 255, 255, 0.05);
}

.settings-page-header,
.settings-sidebar-title-container {
  background-color: c.$border-light;
  padding: 0.4rem 2rem;
  border-radius: 0 0 1.2rem 1.2rem;
}

.settings-page-header-left-corner,
.settings-page-header-right-corner,
.settings-sidebar-title-left-corner,
.settings-sidebar-title-right-corner,
.settings-sidebar-bottom-corner,
.settings-sidebar-user-bottom-left-corner {
  color: c.$border-light;
}

.settings-sidebar-top-corner {
  color: rgba(255, 255, 255, 0.05);
}

.settings-sidebar-user {
  background-color: c.$border-light;
  border-radius: 0 3rem 0 0;
  padding: 1.2rem;
}

.settings-sidebar-user-name {
  font-size: 1.5rem;
}

.settings-sidebar-user-info {
  margin-top: 0.6rem;
}

.settings-sidebar-user-os {
  font-size: 0.9rem;
}

.settings-sidebar-user-uptime {
  font-size: 0.9rem;
}

.settings-sidebar-user-avatar-image {
  border-radius: 50%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.settings-sidebar-label {
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.settings-sidebar-entry {
  all: unset;
  padding: 1rem 1.5rem;
  /* padding-left: 0.75rem; */
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin: 0.3rem 0.7rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &:selected {
    background-color: c.$accent-dark;
    color: c.$bg;
  }
}
