/* === Switch === */
.settings-row-switch {
  min-width: 44px;
  min-height: 26px;
  border-radius: 1.3rem;
  background-color: lighten(c.$bg-light, 5%);
  transition: background-color 0.25s ease;

  &:checked {
    background-color: c.$accent-dark;

    & slider {
      background-color: c.$bg;
    }
  }

}

.settings-row-switch slider {
  min-width: 20px;
  min-height: 20px;
  margin: 3px;
  border-radius: 50%;
  background: c.$fg-strong;
  transition: margin-left 0.25s ease, background-color 0.25s ease;
}

/* === SpinButton === */
.settings-row-spin-button {
  background-color: lighten(c.$bg-light, 5%);
  border-radius: 1.3rem;
  padding: 0.3rem 0.7rem;
  color: c.$fg-strong;
  transition: 0.2s ease;

  &:hover {
    background-color: lighten(c.$bg-light, 10%);
  }
}

.settings-row-spin-button input {
  margin: 0 1rem;
}

.settings-row-spin-button button.up,
.settings-row-spin-button button.down {
  color: c.$accent;
  padding: 0.2rem;
  transition: 0.2s ease;
  border-radius: 1.3rem;
  margin: 0 0.3rem;

  &:hover {
    background-color: c.$accent;
    color: c.$bg-darker;
  }
}



/* === Dropdown === */
.settings-row-select {
  background-color: lighten(c.$bg-light, 5%);
  border-radius: 1.3rem;
  padding: 6px 12px;
  color: c.$fg-strong;
  font-size: 1rem;
  transition: 0.2s ease;

  &:hover {
    background-color: lighten(c.$bg-light, 10%);
  }
}

.settings-row-select>button {
  background-color: transparent;
  border: none;
  color: c.$fg-strong;
  padding: 0 4px;
}

.settings-row-select row {
  background-color: lighten(c.$surface, 15%);
  border-radius: 1.3rem;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0;

  &:hover {
    background-color: lighten(c.$surface, 20%);
  }
}

.settings-row-select row button {
  color: c.$fg-strong;
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.2s ease;

  &:hover {
    background-color: c.$bg-light;
    border-color: c.$accent;
    box-shadow: 0 0 6px rgba(c.$accent-light, 0.5);
  }
}

.settings-row-select row button:selected {
  background-color: c.$accent;
  color: c.$fg-strong;
}

.settings-row-select:focus {
  border-color: c.$accent;
  box-shadow: 0 0 6px rgba(c.$accent-light, 0.5);
}

/* === Entry === */
.settings-row-entry {
  background-color: lighten(c.$bg-light, 5%);
  border-radius: 1.3rem;
  padding: 6px 10px;
  color: c.$fg-strong;
  font-size: 1rem;
  transition: 0.2s ease;

  &:hover,
  &:focus {
    background-color: lighten(c.$bg-light, 15%);
  }
}

/* === FileButton === */
.settings-row-file-button {
  background-color: lighten(c.$bg-light, 5%);
  border-radius: 1.3rem;
  padding: 4px 14px;
  color: c.$fg-strong;

  &:hover {
    background-color: lighten(c.$bg-lighter, 15%);
  }
}

/* === MultiSelectRow === */
.settings-row-multi-select {
  padding: 0.7rem;
  background-color: lighten(c.$bg-light, 5%);
  border-radius: 1.3rem;
  transition: 0.2s ease;
}

.settings-row-multi-select-item {
  background-color: lighten(c.$bg-light, 10%);
  border-radius: 1.3rem;
  padding: 0.3rem 0.7rem;
  transition: 0.2s ease;
}

.settings-row-multi-select-item-del {
  padding: 0.3rem 0.6rem;
  border-radius: 1.3rem;
  background-color: lighten(c.$bg-darker, 5%);
  transition: 0.25s ease;

  &:hover {
    background-color: c.$fg;
    color: c.$bg-darker;
  }
}

/* === SelectButtonRow / MultiSelectButtonRow === */
.settings-row-select-button,
.settings-row-multi-select-button {
  padding: 0.1rem;
}

.settings-row-select-button-btn,
.settings-row-multi-select-button-btn {
  font-size: 1.2rem;
  background-color: lighten(c.$bg-light, 5%);
  color: c.$fg;
  border-radius: 1.3rem;
  padding: 4px 10px;
  transition: 0.2s ease;
}

.settings-row-select-button-btn:hover,
.settings-row-multi-select-button-btn:hover {
  background-color: c.$bg-lighter;
}

.settings-row-select-button-btn.active,
.settings-row-multi-select-button-btn.active {
  background-color: c.$accent;
  color: c.$fg-strong;
  border-color: c.$accent;
  border-radius: 0.8rem;
}

.settings-row-select-button-btn.active label,
.settings-row-multi-select-button-btn.active label {
  color: c.$bg;
}

/* === Scale === */
.settings-row-scale {
  min-height: 24px;
  border-radius: 12px;
}

.settings-row-scale trough {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  min-height: 8px;
}

.settings-row-scale highlight {
  background-color: c.$accent;
  border-radius: 10px;
}

.settings-row-scale slider {
  background-color: c.$accent;
  border: 2px solid white;
  border-radius: 50%;
  min-width: 8px;
  min-height: 8px;
  margin-top: -2px;
  margin-bottom: -2px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease, transform 0.2s ease;

  &:hover {
    background-color: lighten(c.$accent, 5%);
    transform: scale(1.1);
  }
}



/* === Page === */
.settings-group-name {
  margin-left: 2.5rem;
  color: c.$active;
}

.settings-row {
  all: unset;

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.settings-row-label {
  font-size: 1.2rem;
}

.settings-row-sublabel {
  font-size: 0.9rem;
  font-weight: normal;
  color: c.$fg;
}

.settings-user-name {
  font-size: 2.3rem;
  margin-left: 1.5rem;
}

.settings-row,
.settings-group>.settings-row {
  padding: 0.7rem 2.5rem;
  border-radius: 10px;
  transition: 0.2s;
  margin: 0.3rem 1rem 0.3rem 0.5rem;
}

.settings-row:hover {
  background-color: c.$bg-light;
  border-radius: 1rem;
}


/* === Separator === */
.settings-row-separator {
  background-color: rgba(255, 255, 255, 0.15);
  min-height: 5px;
  margin: 1rem 2.5rem;
  border-radius: 1rem;
}
